.header {

    background-color: orangered;
    padding: 30px 0;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    color: orangered;
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar-brand:hover {
    color: orangered;
}

.navbar-toggler {
    border: none;
}

.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-nav .nav-item .nav-link:hover {
    color: orangered;
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: gray;
}

.navbar-nav .nav-item .dropdown-item {
    color: white;
}

.navbar-nav .nav-item .dropdown-item:hover {
    background-color: black;
}